extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 John Kozma /Kozma János/
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | In 2001 I studied computer programming for two years after graduation. During my studies, I learned the use of Pascal and Delphi programming languages. I was able to find a place in the local mayor's office for one year after school, where I was working with the system administrator. After one year I worked at my next job at a computer store as a vendor and a shop manager. Besides these, I have repaired, installed and serviced computers. In 2010 I went to my current job where I work as an IT support administrator. My tasks include IT maintenance, user and system troubleshooting. I've been studying web development since April 2018, working on various online platforms.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li
            img(src='/static/img/pug.png')
            p Pug(Jade)
          li
            img(src='/static/img/expressjs.png')
            p Express
          li
            img(src='/static/img/nodejs.png')
            p Node.js
          li
            img(src='/static/img/npm.png')
            p npm
          li
            img(src='/static/img/jquery.png')
            p jQuery
          li
            img(src='/static/img/javascript.png')
            p JavaScript
          li
            img(src='/static/img/sass.png')
            p Sass/SCSS
          li
            img(src='/static/img/css3.png')
            p CSS3
          li
            img(src='/static/img/html5.png')
            p HTML5
          li
            img(src='/static/img/github.png')
            p Git/Github
          li
            img(src='/static/img/cli.png')
            p CLI
        h6 Contact Info
        ul
          li 888-888-8484
          li example@example.com
        a.button.expanded.linkdin(href='https://www.linkedin.com/in/kozma-j%C3%A1nos/' target="_blank")
          i(class="fab fa-linkedin")
          | LinkedIn
        a.button.expanded(href='https://github.com/JKozma81' target="_blank")
          i(class="fab fa-github-square")
          | GitHub
        a.button.expanded.twitter(href='https://twitter.com/KozmaJnos2' target="_blank") 
          i(class="fab fa-twitter-square")
          | Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  